# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# dotenv
.env

# Vercel
.vercel/

# macOS
.DS_Store

# Logs
logs/
*.log
*.pid
*.seed
*.tgz

# IDEs
.vscode/
.idea/

# Misc
*.swp
